<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/create.js">

    </script>
  </head>

  <body>
    <div style="text-align: center; margin: 20%">
      <!-- temporary inline styles... use Bootstrap instead! -->
      <h1 style="margin: 10%">Askie</h1>
    </div>
    <div style="text-align: left; margin: 20%;">
      <h3>Okay, what's your question?</h3>
      <p><input type="text" placeholder="Who's the best?"></p>
    </div>
    <div style="text-align: left; margin: 20%;">
      <h3>Options:</h3>
      <p><input type="text" placeholder="I am."></p>
      <p><input type="text" placeholder="You are."></p>
    </div>
    <div style="text-align: center; margin: 20%;">
      <input type="button" value="Let's go!">
    </div>
  </body>
</html>
