<!DOCTYPE html>

<html lang="en">

<head>
  <title>Retrieve thelinks to your poll</title>
    <% include ./partials/_header %>
</head>

<body>
  <div style="text-align: center; margin: 10%">
    <h1 style="color: #3893C7">&#x1F389; &#x1F389; &#x1F389; Done! &#x1F389; &#x1F389; &#x1F389;</h1>
    <p>Be the first to vote and click this button:
      <br><br>
      <input class="button btn btn-primary btn-lg btn3d" type="submit"value="Vote!" onclick="window.open('http://localhost:8080/poll/<%=voting_url%>');return false">
    </p>

    <p>Copy and send this link to discover your friends' preferences:</p>
    <input id=voting_url type="text" value="http://localhost:8080/poll/<%= voting_url %>" id="myInput">
    &nbsp;

    <img id="clipboard" src="https://clipboardjs.com/assets/images/clippy.svg" width="25" onclick="copyFunction()" name="Copy to clipboard" alt="Copy to clipboard">

      <p>Enter you friends' emails below, and they will receive this link right away!</p>

      <div class="friends_email_list">
        <div><input id="email1" type="email" name="email1" required placeholder="Enter an email address"></div>
        <div><input id="email2" type="email" name="email2" required placeholder="Enter an email address"></div>
        <div><input id="email3" type="email" name="email3" required placeholder="Enter an email address"></div>
      </div>

        <button type="button" class="button" name="send_button">Send poll to your friends</button>
    <br>
    <p>You can view the <a href="http://localhost:8080/results/<%=results_url%>" style="font-size: inherit;">
      results on this page
    </a></p>


    <div style="text-align: center">
        <input id="create-button" class="button btn btn-primary btn-lg btn3d" value="Another askie awaits"></a>
    </div>

    <% include ./partials/_footer %>

</body>

</html>
