<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Home Page</title>

      <% include ./partials/_header %>

  </head>
    <!-- Top Nav Bar  -->
  <body>
    <nav id="nav-bar">
      <span class="header">Askie</span>
      <div class="container-fluid"></div>
    </nav>

    <h5>Oh no! Something went wrong.</h5>
    <br>
    <div style="text-align: center">
        Why am I here?
        <br>
        What went wrong?
        <br>
        What does anything mean?
      </div>

          <% include ./partials/_footer%>

  </body>
</html>
