<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
  </head>
  <body>
      <% include ./partials/_header %>

      <h4>Oh no! Something went wrong.</h4>
      <br>
      <div class="error-buttons" style="text-align: center"></div>
      <input id="error1" class="button btn btn-primary btn-lg btn3d" type="submit" name="done_button" value="Why am I here?" style="width:400px">
      <br><br>
      <input id="error2" class="button btn btn-primary btn-lg btn3d" type="submit" name="done_button" value="Is the site broken?" style="width:400px">
      <br><br>
      <input id="error3" class="button btn btn-primary btn-lg btn3d" type="submit" name="done_button" value="What should we eat for supper?" style="width:400px">
      </div>
      <br><br>
      
      <% include ./partials/_footer%>
    </body>
</html>
