<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Askie home page</title>
    <% include ./partials/_header %>
  </head>
  <body>
    <img src="http://questions-seniordriving.aaa.com/wp-content/uploads/2016/05/questionmarks.png" alt="Askie logo" class="logo">
    <h5>Want to make a group decision? Let's make it easy...</h5>
    <br>
    <input id="create-button" class="button btn btn-primary btn-lg btn3d" value="Create a poll">
    <% include ./partials/_footer %>
  </body>
</html>
